/* #chats{
    position: absolute;
    right: 0%;
    top:0%;
    background-color: #1f242e;
    width: 30%;
    height: 100vh;
    overflow-y:auto;
}

#chat-box{
    top: 5vh;
    background-color: rgb(46, 32, 31);
    background-image: url("./images/background.png");
    height: 93vh;
    overflow-y:auto;
}



.add_chat_popup{
    width: 0px;
    height: 0px;
    opacity: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
}

.add_chat_popup_hover{
    background-color: rgb(69, 78, 69);
    border-radius: 5%;
    opacity: 1;
    width: 150px;
    height: 150px;
    bottom: 50%;
    right: 60%;
    transform: translate(50%, 50%);
}


.input_chat{
    position: relative;
    width: 100%;
}
.submit_chat{
    position: relative;
    border: 0px;
    background-color: rgba(216, 216, 19, 0.744);
    top: 40%;
    left: 30%;
    border-radius: 2px;
}

.submit_chat:hover{
    background-color: rgba(188, 188, 77, 0.744);
}

.allchats{
    color: white;
    position: relative;
    width: 100%;
    height: 5%;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid #383f4d;
}

.allchats:hover{
   background-color: #3e424b;
}

.messageElement{
    color: white;
    width: fit-content;
    border-radius: 5%;
    padding: 10px;
    background-color: rgb(41, 46, 41);
}
.send_container{
    position: absolute;
    top: 92.9vh;
    height: 7.1vh;
    width: 70%;
    background-color: #383f4d;
}
#message-input{
    position: relative;
    height: 65%;
    width: 60%;
    top: 20%;
    left: 15%;
}

#Send{
    position: relative;
    top: 20%;
    left: 15%;
}

.add_contacts{
    position: relative;
    width:70%;
    top: 25%;
}

.add_groups{
    position: relative;
    left:14%;
    width:70%;
    top: 35%;
}

.alert_pop_up{
    background-color: #00000000;
    color: #7fe40c;
    position: relative;
}      

.top_chat{
    position: absolute;
    height: 5vh;
    width: 100%;
    top: 0px;
    background-color: rgb(27, 31, 27);
} */

body{
    background: url("images/index.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
}
.button{
    background-color: rgb(224, 220, 216);
    position: absolute;
    border-radius: 15px;
}
.chatbuttonslideInFromRight {
    animation: chatbuttonslideIn 0.75s forwards, fadeIn 0.75s forwards;
}

.chatbuttonslideOutToRight {
    animation: chatbuttonslideOut 0.75s forwards, fadeOut 0.75s forwards;
}

@keyframes chatbuttonslideIn {
    from {
        right: 0%; /* Start from outside the screen */
    }
    to {
        right: 30%; /* End at the correct position */
    }
}

@keyframes chatbuttonslideOut {
    from {
        right: 30%; /* Start from the correct position */
    }
    to {
        right: 0%; /* End outside the screen */
    }
}
.button:hover{
    background-color: rgb(144, 141, 138);
}

#logout{   
    top: 1%;
    right: 1%;
}

#open_chat{
    z-index: 3;
    right: 1%;
    bottom: 1%;
}

#open_arduino{
    left: 1%;
    bottom: 1%;
}
.chat_pop_up {
    position: absolute;
    top: 0;
    width: 30%;
    height: 100vh;
    overflow-y: auto;
    background-color: rgb(69, 78, 69);
    z-index: 1;
}

.slideInFromRight {
    animation: slideIn 0.75s forwards, fadeIn 0.75s forwards;
}

.slideOutToRight {
    animation: slideOut 0.75s forwards, fadeOut 0.75s forwards;
}

@keyframes slideIn {
    from {
        right: -30%; /* Start from outside the screen */
    }
    to {
        right: 0; /* End at the correct position */
    }
}

@keyframes slideOut {
    from {
        right: 0; /* Start from the correct position */
    }
    to {
        right: -30%; /* End outside the screen */
    }
}


.add_popup{
    background-color: rgb(255, 0, 0);
    position: absolute;
    z-index: 3;
    top: 35px;
    left: 40px;
    width:70%;
}

.middle_popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(71, 68, 68);
    width: 200px;
    animation: slideIn_popup 0.75s ease-in-out forwards;
}

@keyframes slideIn_popup {
    0% {
        opacity: 0;
        transform: translate(100%, -100%);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

.chart-container {
    position: relative;
    left: 10%;
    width: 90%;
    height: 80vh;
}

#myChart {
    width: 100%;
}

.chat{
    color: white;
    position: relative;
    width: 100%;
    height: 5%;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid #3f3c31;
}
.chat:hover{
   background-color: #6b6554;
}
#messages {
    position: absolute;
    top: 7%;
    height: 85vh;
    width: 100%;
    overflow-y: auto;
}

/* Container for each message */
.message_container {
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    max-width: 60%;
    background-color: gray;
    clear: both; /* Ensure messages do not float next to each other */
    margin-left: auto; /* Align to the right */
    margin-right: 10px;
    word-wrap: break-word; /* Ensure long words break and wrap within the container */
    word-break: break-word; /* Ensure text breaks and wraps within the container */
}

/* Date and name styles */
.date {
    display: block;
    font-size: 12px;
    color: rgb(0, 0, 0);
    text-align: right;
    margin-top: 5px;
}

.name {
    display: block;
    font-size: 14px;
    color: #000000;
    font-weight: bold;
}

/* Message text */
.message {
    color: #ffffff;
    white-space: normal; /* Ensure text wraps within the container */
}

/* Container for my messages to align them to the right */
.MyMessage-container {
    background-color: #0f491b; /* Change background color */
    margin-right: auto; /* Align to the right */
    margin-left: 10px;
}
#chat_name{
    text-align: center;
}
#back_button{
    position: absolute;
    left:0px;
}
.send_container{
    position: absolute;
    top: 92vh;
    height: 8vh;
    width:  100%;
    background-color: #484b3b;
}
#chat_settings_button{
    position: absolute;
    top: 0px;
}
.top_container{
    position: absolute;
    width: 100%;
    height: 7%;
    background-color: #484b3b;
}
#back_button{
    background-color: #484b3b;
    left: 94.6%;
}
#back_button:hover{
    background-color: #6e725c;
}
#message-input{
    position: relative;
    height: 65%;
    width: 60%;
    top: 20%;
    left: 15%;
}
#Send{
    position: relative;
    top: 20%;
    left: 15%;
}

.x_btn{
    position: relative;
    color: rgba(255, 0, 0, 0.86);
    background-color: rgba(249, 0, 0, 0);
    border: 0px;
    left: 85%;
}

.x_btn:hover{
    background-color:rgba(0, 0, 0, 0.153);
    border-radius: 50%;
}
.pop_up_input{
    width: 100%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

#searchInput {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

#namesSelect {
    width: 100%;
    height: auto;
    box-sizing: border-box;
}
